@media (max-width: 1600px)
  .carousel
    .carousel-caption
      left: 7%
      top: 22%
  #schedule-button
    right: 9%

@media (max-width: 768px)
  .navbar-main
    background-size: cover

  .carousel
    .carousel-caption
      left: 10%