@media (max-width: 1360px)
  .carousel
    .carousel-caption
      left: 7% !important
      top: 22% !important

  #schedule-button
    right: 9%

  .wave-contact-section
    &::after
      height: 17rem
      bottom: -9rem

  .main-section
    .side-container
      width: 33%
      top: 6rem
      right: 6rem
      .subtitle
        font-size: 2rem
        line-height: 2.5rem
        .caveat
          font-size: 2.5rem

@media (max-width: 768px)
  .navbar-main
    background-size: cover

  .carousel
    .carousel-caption
      left: 10%