@import colors
@import mixins

@import 'node_modules/bootstrap/scss/bootstrap'
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;700&display=swap')

body
  font-family: 'Montserrat', sans-serif

[v-cloak]
  display: none

.text-rose
  color: $rose !important

.text-blue
  color: $blue !important

%wave
  content: ''
  position: absolute
  width: 100%
  height: 5rem
  left: 0
  background-size: 100% 100% !important
  z-index: 900

.wave-blue, .wave-white, .wave-dark, .wave-white-bottom
  position: relative

.wave-carousel-blue
  &::after
    @extend %wave
    background: url(./img/waves/carousel-blue.png)
    z-index: auto
    bottom: 0

.wave-carousel-rose
  &::after
    @extend %wave
    background: url(./img/waves/carousel-rose.png)
    z-index: auto
    bottom: 1rem

.wave-white
  &::before
    @extend %wave
    background: url(./img/waves/whi-tran.png)
    top: -2rem
  &::after
    @extend %wave
    background: url(./img/waves/tran-dark.png)
    bottom: -1.5rem

.wave-dark
  &::after
    @extend %wave
    background: url(./img/waves/dark-tran.png)
    bottom: -3.5rem

.wave-white-bottom
  &::after
    @extend %wave
    background: url(./img/waves/tran-whi.png)
    z-index: auto
    bottom: .5rem
.bg-calculadora
  background: url(./img/bg-calculadora.png)
  background-size: cover
  background-repeat: no-repeat

#navbar-main
  background: linear-gradient(to bottom, rgba(235, 128, 168, 1), rgba(255, 255, 255, 0))
  background-size: contain
  height: 110px
  // li
  //   margin-left: 1.5rem

.carousel
  position: relative
  .carousel-item
    max-height: 95vh
  .carousel-caption
    color: $black
    width: 50%
    left: 5%
    top: 7rem
    text-align: initial
    .title
      font-family: 'Caveat', cursive
      font-size: 4rem

.carousel-control-next,
.carousel-control-prev
  align-items: flex-end
  width: 2rem
  bottom: 1.5rem
  top: unset
  margin-left: 7%

.carousel-control-next
  left: 2rem

#scroll-down
  z-index: 1000
  position: absolute
  left: 50%
  bottom: 4.5rem
  width: 3%

.pulse
  animation: pulse 3s infinite
  margin: 0 auto
  display: table
  margin-top: 50px
  animation-direction: alternate
  animation-name: pulse

@-webkit-keyframes pulse
  0%
    -webkit-transform: scale(1)

  50%
    -webkit-transform: scale(1.1)

  100%
    -webkit-transform: scale(1)

@keyframes pulse
  0%
    transform: scale(1)

  50%
    transform: scale(1.1)

  100%
    transform: scale(1)

.wpcf7-form
  p
    margin-bottom: .5rem

.form-control,
.wpcf7-form-control
  background: rgba(0, 0, 0, 0)
  border: 1px solid $rose
  border-radius: 1rem

.wpcf7-form-control
  width: 100% !important
  padding-left: 1rem
  background-color: rgba(0, 0, 0, 0)
  color: #F5F5F5
  &::placeholder
    color: $gray
  @at-root input[type=submit]#{&}
    background-color: $rose
    color: $black
  @at-root select#{&}
    color: $gray
  @at-root select#{&}::after
    content: ''
    position: absolute
    width: 9px
    height: 8px
    top: 50%
    right: 1em
    margin-top: -4px
    background: url(./img/select-picker.png)

.wpcf-3-response-output
  background-color: $white

.subtitle
  color: $blue
  font-weight: bold
  small
    font-weight: bold
    font-size: 1rem

.card
  &.staff
    border-color: #DEDEDE
    overflow: hidden
    border-radius: 1.5rem
    h5
      &.card-title
      small
        color: $gray
    .card-text
      font-size: .8rem

section
  &.dark
    background-color: #1D1934

#social
  background: url(./img/bg-services.png) no-repeat
  background-size: contain
  position: fixed
  top: 13rem
  left: -1rem
  z-index: 1000
  list-style-type: none
  padding: .5rem 1.5rem
  li
    margin-top: .5rem

#schedule-button
  background-color: #1D1934
  position: fixed
  right: 3rem
  top: 6.5rem
  z-index: 1000
  font-size: .85rem
  img
    width: 15%

#schedule-modal
  background: rgba(29, 25, 52, .85)
  .modal-content
    background: transparent
  .modal-dialog-centered
    flex-direction: column
    align-content: flex-start

#map
  height: 70vh

.form-title, .caveat
  font-family: 'Caveat', cursive

.caveat
  font-size: 3rem

.bg-calculator
  background: url(./img/bg-calculator.png)

footer
  background-color: #4A475C
  p
    font-size: .75rem
  button
    font-size: .8rem !important

@import responsive