@import colors
@import 'node_modules/bootstrap/scss/bootstrap'
@import url('//fonts.googleapis.com/css2?family=Caveat:wght@400700&family=Montserrat:wght@400700&display=swap')

body
  font-family: 'Montserrat', sans-serif

[v-cloak]
  display: none

.pt
  padding-top: 5rem

.pb
  padding-bottom: 5rem

.py
  padding-top: 5rem
  padding-bottom: 5rem

.text-rose
  color: $rose !important

.text-blue
  color: $blue !important

.wpcf7-form
  p
    margin-bottom: .5rem

.form-control,
.wpcf7-form-control
  background: rgba(0, 0, 0, 0)
  border: 1px solid $rose
  border-radius: 1rem

.wpcf7-form-control
  width: 100%
  padding-left: 1rem
  &::placeholder
    color: $gray
  @at-root
    input[type=submit]#{&}
      background-color: $rose
    select#{&}
      color: $gray

.wpcf-3-response-output
  background-color: $white

.navbar-main
  background: linear-gradient(to bottom, rgba(235, 128, 168, .9), rgba(235, 128, 168, .1))

.subtitle
  color: $blue
  font-weight: bold
  small
    font-weight: bold
    font-size: 1rem

.card
  &.staff
    border-color: #DEDEDE
    overflow: hidden
    border-radius: 1.5rem
    h5
      &.card-title
      small
        color: $gray
    .card-text
      font-size: .8rem

section
  &.dark
    background-color: #1D1934

#map
  height: 70vh

.form-title
  font-family: 'Caveat', cursive

footer
  background-color: #4A475C
  p
    font-size: .75rem
  button
    font-size: .8rem !important