@import colors
@import 'node_modules/bootstrap/scss/bootstrap'
@import url('//fonts.googleapis.com/css2?family=Caveat:wght@400700&family=Montserrat:wght@400700&display=swap')

body
  font-family: 'Montserrat', sans-serif

.mt
  margin-top: 5rem

.navbar-main
  background: linear-gradient(to bottom, rgba(235, 128, 168, .9), rgba(235, 128, 168, .1))

.carousel
  position: relative
  .carousel-caption
    color: $black
    width: 55%
    left: 1rem
    bottom: 12rem
    text-align: initial
    .title
      font-family: 'Caveat', cursive
      font-size: 5rem
  .carousel-controls-container
    background-color: $blue

.subtitle
  color: $blue
  font-weight: bold

.card
  &.who
    border-color: #DEDEDE
    overflow: hidden
    border-radius: 1.5rem